
body {
  background: gray;
}

.navbar {
  background-color: #800000;
  color: white;
}

.page-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}
.firebase-btn {
  width: 250px !important;
  height: 50px !important;
 
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* or your preferred color */
  color: white;
  text-align: center;
  padding: 20px 0; /* Adjust padding to suit your design */
}

.Ws_Sports_Logo img{
    width: 40px; /* or your desired size */
    height: 40px;
    margin-left: -200px;
}
.facebook-button img {
    width: 40px; /* or your desired size */
    height: 40px;
    cursor: pointer;
  }

.footer-content p {
  margin: 5px 0; /* Spacing between text */
  text-align: center;
}
.footer-content p {
    margin: 5px 0; /* Spacing between text */
}

.social-media a {
    color: white;
    padding: 0 10px;
}

#columns {
  column-count: 3;
  column-gap: 5px;
}

@media (min-width: 992px) {
  #columns {
      column-count: 4;
      column-gap: 10px;
  }
}

.pin {
  display: inline-block;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 10px;
  padding-bottom: 5px;
  background: linear-gradient(45deg, #FFF, #EEE);
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 3px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  text-align: center;
  color: #333;
  margin: 0;
  max-height: 18px;
  overflow: hidden;
}

#fab {
  background-color: #800000;
  bottom:10px;
  color: white;
  position:fixed;
  right:10px;
  z-index:999;
}

#fab:active {
  transform: translatey(2px);
  opacity: 0.8;
}

.dropdown-menu-right {
  left: -128px;
}

.bmd-layout-content {
  height: 100vh;
}

.bmd-layout-drawer > header {
  background-color: #800000;
  color: white;
}

.bmd-layout-drawer > ul {
  background-color: #DDDDDD;
}

.list-group-item :first-child {
  margin-right: 0.75em;
}

#menuEdit, #menuDelete {
  display: none;
}

#signInText {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.firebaseui-idp-button {
  width: 100%;  /* Makes all buttons full width of their container */
  height: 50px; /* Fixed height for all buttons */
  margin: 10px 0; /* Adds vertical spacing between buttons */
}
.firebaseui-idp-button .firebaseui-idp-text {
  text-align: center;
  width: 100%;
}
.firebaseui-idp-button {
  font-family: 'Roboto', sans-serif; /* Example: Roboto font */
  font-size: 16px; /* Suitable font size */
  color: #fff; /* Text color */
}
.firebaseui-id-idp-google {
  background-color: #4285F4; /* Google color */
}
.firebaseui-id-idp-email {
  background-color: #DB4437; /* Example: Red for email */
}
.firebaseui-id-idp-phone {
  background-color: #0F9D58; /* Example: Green for phone */
}
.firebaseui-id-idp-anonymous {
  background-color: #F4B400; /* Example: Yellow for guest */
}
/* Example assuming the icon is an SVG inside the button */
.firebaseui-id-idp-google svg {
  width: 2px;  /* Decrease the width as needed */
  height: 2px; /* Decrease the height to maintain aspect ratio */
}
.firebaseui-id-idp-google svg {
  margin-right: 8px; /* Adds space between the icon and the text */
}

