body {
  background: gray;
}

.navbar {
  background-color: #800000;
  color: white;
}

.page-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1600px;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: auto;
  
  
}
.Ws_Sports_Logo img{
    width: 40px; /* or your desired size */
    height: 40px;
    margin-left: -200px;
}
.facebook-button img {
    width: 40px; /* or your desired size */
    height: 40px;
    cursor: pointer;
  }

.footer-content p {
  margin: 5px 0; /* Spacing between text */
  text-align: center;
}
.footer-content p {
    margin: 5px 0; /* Spacing between text */
}

.social-media a {
    color: white;
    padding: 0 10px;
}
.social-media{
    margin-left: 725px;
}

